h3{
    margin-bottom: 0.4em;
}

p {
    margin-bottom: 0.2em;
}

.blog-list ul{
    width: 80%;
    margin: 5% auto 0 auto;
}

.blog-list ul li{
    border: solid 1px black;
    display: flex;
    flex-wrap: wrap;    
    background-color: var(--beige-2);
    transition: background-color 250ms, opacity 250ms;
    margin-bottom: 3%;

    position: relative; /* for positioning blog-date */
}

.blog-list ul li:hover{
	background-color: VAR(--yellow-green);
	border:solid 1px VAR(--yellow-green);
}

.blog-list ul li:hover .blog-date{
    opacity: 1;
}

.blog-list ul li a{
    height: 100%;
    width: 100%;
    padding: 10px 20px;
}

.blog-id p{
    font-weight: 200;
}

.blog-date{
    position: absolute;
    top: 15%;
    right: 2.5%;
    opacity: 0;
    font-weight: 50;
}

.blog-date:hover{
    opacity: 1;
}

@media only screen and (max-width: 600px){
    .wrapper-main{
        width: 90%;
    }
    
    .blog-list{
        margin:40px 0px;
    }

    h2{
        margin-left: 0.2em;
    }

    .blog-id h3{
        margin-top: 6px;
    }

    .blog-id p{
        font-size: 14px;
        line-height: 20px;
        margin-top: 4px;
    }

    .blog-list ul{
        width: 92%;
    }

    .blog-list ul li a{
        height: 100%;
        width: 100%;
        padding: 5px 10px;
    }

    .blog-date{
        display: none;
    }
}