/* main{
    margin-top: 60px;
    box-shadow: inset 0 0 10px 0.2rem black;
} */

.title-card{
    width: 80ch;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.5rem;

    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}

.title-card h1{
    width: 70ch;
    text-align: center;

    margin-bottom: 0.6rem;
}

.series{
    margin-bottom: 0.8em;
    text-decoration: underline;
}

.meta-data{
    width: 95%;
    display: flex;  
    margin-top: 1em;
    justify-content:space-between;
}

main p{
    /* text-indent: 0.5rem; */
    text-align: justify;
}

blockquote {
    border-left: 0.3rem solid #685c51;
    padding-left: 0.8rem;
    margin-left: 1.5rem;
    color: var(--coffee);
}

blockquote p{
    font-size: 1rem;
    font-style: italic;
    line-height: 1.8;
}

.references{
    padding-left: 2.5em;
    padding-right: 2.5em;
    list-style: circle;
    /* text-indent: 0.5em; */
}

em{
    font-style: italic;
}

ol{
    padding-left: 1.8em;
    padding-right: 2em;
    list-style: decimal;
    font-size: 0.85rem;
}

ol li p{
    font-size: 0.95rem;
    margin-bottom: 0.5em;
}

p sup{
    font-family:'Times New Roman', Times, serif;
    font-size: 0.75em; 
    font-weight: 700;
    font-style: italic;

    vertical-align: super;   /* browser’s “superscript” position */
    line-height: 1; 
    color: #0000EE;
}

/* mjx-container{
    background-color: red;
} */

/* Ensure the MathJax container respects the parent's width */
mjx-container[display="true"] {
    margin: 1.5rem auto 1rem auto !important;
    padding: 2rem 0px;
    /* !important to override mathjax typesetting */
    
    max-width: 100%;    
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch; /* for smoother scrolling on touch devices */

    position: relative;
    /* overflow: visible; */
}

mjx-container[display="true"]::before{
    content:"";
    background-color: var(--coffee-grey-2);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0.4rem;
    bottom: 0.3rem;
    z-index: 1;
    opacity: 0.8;

    box-shadow: -0.8rem 0.8rem var(--coffee-dark);
}

mjx-container[display="true"] mjx-math {
    position: relative;
    z-index: 2;
}

mjx-container:not([display="true"]) {
  /* no background here */
  background-color: transparent;
}

img{
    display: block;
    margin: 1.5rem auto 1.5rem auto;
}
  
/* Mobile Version */
@media only screen and (max-width: 600px){
    .title-card{
        width: 95%;
        margin-bottom: 2rem;
    }

    .meta-data{
        flex-wrap: wrap;
        justify-content: center;
    }

    mjx-container[display="true"] {
        font-size: 1.13rem !important;
        padding: 1rem;
        /* overflow-x: auto; Allows horizontal scroll if the content is too wide */
        overflow-x: auto; /* Allows horizontal scroll if the content is too wide */
        box-sizing: border-box;
        -webkit-overflow-scrolling: touch; /* for smoother scrolling on touch devices */
        
        background-color: var(--coffee-grey-2);
        box-shadow: -0.4em 0.4em var(--coffee-dark);
    }

    mjx-container[display="true"]::before {
        display: none;
    }

    blockquote {
        border-left: 0.215rem solid #685c51;
        padding-left: 0.725rem;
        margin-left: 1rem;
    }

    blockquote p{
        font-size: 1.025rem;
    }

    /* img{
        width: 90
    } */
}   