.blog-post{
    margin: 50px 0px;
    padding: 10px 20px;
}

blockquote {
    border-left: 4px solid #685c51;
    padding-left: 10px;
    margin-left: 4px;
    color: #555;
  }

/* Ensure the MathJax container respects the parent's width */
.display-math {
    max-width: 100%;
    overflow-x: auto; /* Allows horizontal scroll if the content is too wide */
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch; /* for smoother scrolling on touch devices */
}
  