main {
    width: 100%; /* 55% is same as 55vw */
    height: fit-content;
    padding: 0 1em;

    /* margin: 65px auto 0px auto; */
    /* padding: 1em 2em; */
    /* background-color: rgb(247, 229, 207); */
}

.intro article{
    width: 100%;
    margin: 5px auto;
    text-align: justify;
}

/* My recent posts section */
.recent-posts{
    width: 70%;
    border-radius: 8px;
    margin: 70px auto 50px auto;

    text-align: center;
}

.recent-posts h3{
    margin: 0;
}

/* Posts list */
.recent-posts ul li{
	width: 80%;
    height: 65px;
	margin: 25px auto 25px auto;

    background-color: var(--beige-2);

	border:solid 1px #000;
    display: flex;
}

.recent-posts ul li a{
	width: 100%;
    height: 100%;
    font-size: 20px;
    line-height: 65px;
}

.recent-posts ul li a:hover{
	background-color: VAR(--yellow-green);
	border:solid 1px VAR(--yellow-green);
}

@media only screen and (max-width: 600px){
    .intro {
        margin: 50px auto 0px auto;
    }

    .recent-posts{
        margin: 35px auto 25px auto;
    }

    .recent-posts ul{
        width: 100%;
    }

    .recent-posts ul li{
        width: 95%;
    }
}