/* to-do
1. set color-scheme, learn how-to
2. transitions
*/
:root{
	/* https://www.figma.com/colors/coffee/ */
	--coffee: #6F4E37;
	--coffee-dark: #5A3E2D;
	--coffee-2: #6F574E;
	--coffee-3: #B3826C;
	--coffee-grey: #927869;
	--coffee-grey-2: #BA9D8A; /* header-footer */

	--beige-brown: #c2a38f;
	--cream-color: #FFFDF2; /* light */
	--beige: #DDD0C8;
	--beige-1: #fcf0e0; /* current bg */
	--beige-2: #decab7;
	--dark-grey: #323232;
	--yellow-green: #baff39; 

	--heliotrope: #EE72F8; 
	--malachite: #31EC56;
	--razzmatazz: #EF036C;

	font-size: 16.180398875px;
	font-family: Arial, Helvetica, sans-serif;
}

body{
	/* box-shadow: inset 0 0 1em 0.5em #000; */
	/* background: radial-gradient(transparent, black); */
	background-color: var(--beige-1);
	
	/* these three settings for keeping footer at bottom */
	min-height: 100vh;
	display: flex; 
    flex-direction: column;
}

main{
	margin-bottom: 5rem;
}

.wrapper-main{
	width: 100ch;
	margin: 0 auto;
}

.top-margin{
	margin: calc(75px + 6rem) auto 0 auto;
}

.wrapper-read{
	max-width: 70ch;
	margin: 0 auto;
}

/* .wrapper-main-flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
} */

.common-flex-attr{
	display: flex;
	justify-content: space-between; /* align flex-items horizontally */
	align-items: center; /* align flex-items vertically */
}

/* #################### HEADER #################### */
.header-main{
	position: fixed;
	top: 0;
	
	width: 100%;
	height: 75px;
	background-color: var(--coffee-grey-2);
	z-index: 1000;
	border-bottom: solid 1px var(--dark-grey);
}

.header-main-wrapper{
	width: 110ch;
	margin: 0 auto;
	height: 100%;
}

.header-main-title {
	width: 7.5rem;
	height: 75%;
	background-color: var(--beige-1);
	
	align-content: center;
	text-align: center;
	border:solid 1px var(--dark-grey);
	
	font-size: 26px;
	font-weight: 250;
	
	transition: font-weight 0.1s ease-in-out;
}

.header-main-title:hover {
	font-weight: 500;
}

.header-main-nav {
	width: fit-content;
	height: 100%;
	text-align: center;
}

.header-main-nav ul {
	list-style: none; /* even though we have a reset stylesheet */
	height: 100%;
	
	align-content: center;
}

.header-main-nav ul li{
	height: 35px;
	width: 70px;

	display: flex;
	float: left;  
	margin: 0 10px 0 10px;
	
	background-color: var(--beige-1);
	border:solid 1px var(--dark-grey);
	transition: background-color 0.	15s ease-in-out;
}	

.header-main-nav ul li:hover{
	background-color: VAR(--yellow-green);
	/* border:solid 1px VAR(--yellow-green); */
}

.header-main-nav ul li a{
	height: 100%;
	width: 100%;
	/* margin-top: 0.4rem; */
	line-height: 35px;
	font-weight: 100;
}

.header-main-nav ul li a:hover{
	font-weight: 600;
}

/* #################### FOOTER #################### */
.footer-main {	
	width: 100%;
	height: fit-content;
	margin-top: auto; /* keeps footer at bottom */
	padding: 4rem 0 6.25rem 0;
	background-color: var(--coffee-grey-2);

	border-top: solid 1px var(--dark-grey);
}

.foot-links ul li{
	margin-top: 0.4rem;
}

.foot-links ul li a:hover{
	text-decoration: underline;
}

.footer-second ul{
	text-align: right;
}

.not-by-ai-image{
	width : 131px;
	height: 42px;
	background-image: url(/assets/img/Written-By-Human-Not-By-AI-Badge-white.webp);
}

.not-by-ai-image a{
	display: block;
	height: 100%;
}

/* .not-by-ai-image a:hover{
	padding: 1px;
	background-color: #31EC56;
	opacity: 0.2;
} */

.burger-menu,
.burger-menu-btn{
	display: none;
}

/* 	Responsive Stuff
	< 600px, 601px, 768px, 992px, 1200px */

/* Mobile Version */
@media only screen and (max-width: 600px) {

	/* ########## LAYOUT ########## */
	
	.top-margin{
		margin: calc(65px + 3rem) auto 0 auto;
	}

	.header-main{
		height: 65px;
	}

	.wrapper-main{
		width: 100%;
		padding: 0 0;
	}

	.wrapper-main-flex{
		justify-content: space-around;
	}

	/* ########## BURGER MENU ########## */

	.burger-menu-btn{
		display: block;
		width: 2.2em;
		height: 2.2em;
		background-image: url(/assets/img/icons/burger-menu.webp), url(/assets/img/icons/close.webp);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center, center left 50px;
		cursor: pointer;
	}

	.burger-menu{
		display: none;
		position: fixed;
		width: 100%;
		height: 80vh;
		opacity: 0.95;
		z-index: 900; /* less than header's 1000 */
		background-color: var(--coffee-grey-2);
	}

	.burger-menu ul{
		position: fixed;
		width: 100%;
		height: calc(100vh-75px);
		margin-top: 75px;
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
		justify-content: center;
	}

	.burger-menu ul li{
		border: 2px solid black;
		margin: 20px 10px 10px 10px;
		flex-basis: 70%;
	}

	.burger-menu ul li a{
		display: block;
		height: 100%;
		padding: 15px 0;
		flex-basis: 70%;

		font-size: 1.5rem;
		text-align: center;	
		font-size: 1.2rem;
	}

	/* ########## HEADER ########## */
	.header-main-wrapper{
		width: 100%;
		padding: 0 1.5em;
		justify-content: space-between;
	}

	.header-main-nav {
		display: none;
	}

	/* ########## FOOTER ########## */
	.footer-main {	
		padding: 60px 0 60px 0;
	}

	.foot-links{
		justify-content: space-around;
		flex-wrap: wrap;
		row-gap: 10px;
	}

	.foot-links ul{
		width: 45%;
		text-align: center;
	}

	.line-div{
		margin-top: 0.5em;
		margin-bottom: 0.2em; 
		width: 150%;
	}

	.line-div div{
		width: 60%;
		margin: 0 auto;
		border-bottom: solid 1px var(--dark-grey);
	}

	.footer-second{
		width: 100%;
		display: flex;
		justify-content: center;
	}
	
	.footer-second ul li{
		width: 100%;
	}

	.not-by-ai-image{
		background-repeat: no-repeat;
		background-position: center;
	}
}

@media only screen and (min-width: 601px) {
	.wrapper-main{
		width: 85%;
	}
}


@media only screen and (min-width: 768px) {
	.wrapper-main{
		width: 75%;
	}
}

@media only screen and (min-width: 992px) {
	.wrapper-main{
		width: 65%;
	}
}

@media only screen and (min-width: 1440px) {
	.wrapper-main{
		width: 1000px;
	}
}

/*  Testing */

/* page‑blocking overlay */
#loading {
  position: fixed;
  inset: 0;                   /* top:0; right:0; bottom:0; left:0 */
  background: var(--beige-1); /* or semi‑opaque black: rgba(0,0,0,0.8) */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* simple spinner */
.spinner {
  width: 60px;  height: 60px;
  border: 6px solid rgba(0,0,0,0.1);
  border-top-color: var(--coffee-dark);
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
